@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500;700&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:wght@500;600&family=M+PLUS+2&family=Mochiy+Pop+P+One&family=Oswald&family=Overpass&family=Roboto&family=Roboto+Condensed:wght@300;400&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500;700&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:wght@500;600&family=M+PLUS+2&family=Mochiy+Pop+P+One&family=Oswald&family=Overpass&family=Quicksand:wght@300;400&family=Roboto&family=Roboto+Condensed:wght@300;400&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500;700&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:wght@500;600&family=M+PLUS+2&family=Mochiy+Pop+P+One&family=Moon+Dance&family=Oswald&family=Overpass&family=Quicksand:wght@300;400&family=Roboto&family=Roboto+Condensed:wght@300;400&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@500;700&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Kanit:wght@500;600&family=M+PLUS+2&family=Mochiy+Pop+P+One&family=Moon+Dance&family=Oswald&family=Overpass&family=Quicksand:wght@300;400&family=Roboto&family=Roboto+Condensed:wght@300;400&family=Varela+Round&display=swap");
/*END OF THE IMPORTED FONTS*/
body {
  background-color: rgb(228, 239, 248);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  color: rgb(110, 110, 110);
  display: flex;
  margin: none;
  padding: none;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
nav img {
  font-size: auto;
  margin: 10px;
}
nav h1 {
  cursor: default;
  margin-top: 20px;
  margin-left: 0px;
  color: rgb(151, 151, 151);
  text-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  font-family: "Quicksand";
  font-size: 50px;
  font-weight: 300;
}
nav ul {
  justify-content: flex-end;
  float: inline-end;
  margin-right: 10px;
  display: flex;
  list-style: none;
}
nav ul li {
  display: flex;
  padding: 14px;
  font-size: 30px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  justify-content: flex-end;
}
nav ul li a {
  text-decoration: none;
  color: rgb(110, 110, 110);
}
nav ul li a:hover {
  text-decoration: underline;
  color: rgb(143, 8, 8);
}
/*End of the navbar*/

/*Header, first part of the page*/
header {
  background-image: url(./src/headerbg.jpg);
  background-size: cover;
  height: 1000px;
  width: 90%;
  margin: auto;
  clip-path: polygon(0 0, 100% 0, 88% 100%, 11% 100%);
}
header h1 {
  margin-top: 150px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  font-family: "Anton";
  animation: colorshade;
  animation: colorshade 2.5s ease 1s infinite alternate;
}
header .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
header .title h1 {
  padding: 0 9px;
}
header .text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/*BUTTON*/
.firstButton {
  margin: auto;
  font-size: 40px;
  display: flex;
  padding: 15px;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.37);
  color: rgb(228, 228, 228);
  border: 3px solid rgb(240, 240, 240);
  border-radius: 30px;
}
.firstButton:hover {
  background-color: rgba(37, 37, 37, 0.144);
  color: rgb(243, 243, 243);
  border: 3px solid rgb(255, 255, 255);
}
/*ANIMATIONS*/
@keyframes colorshade {
  20% {
    color: cadetblue;
  }
  40% {
    color: rgb(241, 173, 47);
  }
  60% {
    color: rgb(65, 65, 65);
  }
  80% {
    color: green;
  }
  100% {
    color: red;
  }
}
